<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <img src="assets/img/logo.png" class="logo-login animated bounceInDown"></img>
            <p class="p-sesion text-center">Inicia sesión para acceder a ICare Web</p>
            <div>
                <!-- <alert ng-repeat="alertLogIn in alertsLogIn" type="{{alertLogIn.type}}" close="closeAlertsLogIn($index)">{{alertLogIn.msg}}</alert> -->
                <uib-alert ng-repeat="alertLogIn in alertsLogIn" type="{{alertLogIn.type}}" close="closeAlertsLogIn($index)">
                    <div class="text-center">{{alertLogIn.msg}}</div>
                </uib-alert>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <div class="caja-tama">
                <div class="caja-login animated fadeIn">
                    <h1>Iniciar sesión</h1>
                     <form name="loginForm" angular-validator-submit="authUser();" novalidate angular-validator>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Introduce tu correo electrónico</label>
                            <input type="email" ng-model="login.email" 
                            name = "emailAddress"
                            invalid-message="'Debe ingresar correctamente el correo electronico'"
                            required-message="'El correo electronico es requerido'"
                            validate-on="dirty"
                            required
                            class="form-control" id="exampleInputEmail1" ng-focus="clearAlertsLogIn();" placeholder="Correo electrónico">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Contraseña</label>
                            <input type="password"  ng-model="login.password"class="form-control" ng-focus="clearAlertsLogIn();" id="exampleInputPassword1" placeholder="Contraseña">
                        </div>
                        <!--<div class="checkbox">
                            <label>
                                <input type="checkbox"> No cerrar sesión
                            </label>
                        </div>-->  
                        <div class="form-group">
                            <a href="#/forgotpassword">¿Has olvidado la contraseña?</a>
                        </div>
                        <button type="submit" class="btn btn-admin pull-right animated fadeIn" >Iniciar sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h6 class="text-center">Copyright © 2016. Todos los derechos reservados ICare Web 2016.</h6>
        </div>
    </div>     
</div>